<!DOCTYPE html>
<html lang="es">

  <head>
    <%- include('partials/header') %>
  </head>

  <body style="background-color: lightsteelblue;">

    <%- include('partials/navigation')  %>

    <div class="container mt-4">
      <h1>Clinica PC</h1>
      <h4>Selecciona el tipo de datos para visualizar en un arbol</h4>
    </div>

    <div class="container p-4 col-12">
      <div class="row" style="display: flex; justify-content: center;">
        <div style="margin-left: 20px; margin-right: 20px;">
          <button type="button" class="btn btn-info" onclick="<%= customersTree = true %>">Clientes</button>
        </div>
        <div style="margin-left: 20px; margin-right: 20px;">
          <button type="button" class="btn btn-info" onclick="requestsTree = true">Solicitudes</button>
        </div>
        <div style="margin-left: 20px; margin-right: 20px;">
          <button type="button" class="btn btn-info" onclick="devicesTree = true">Equipos</button>
        </div>
      </div>
    </div>

    <% if (customersTree) { %>
      <div>Arbol de clientes</div>
    <% } %>
    <% if (requestsTree) { %>
      <div>Arbol de solicitudes</div>
    <% } %>
    <% if (devicesTree) { %>
      <div>Arbol de equipos</div>
    <% } %>

  </body>

</html>