<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('partials/header') %>
</head>

<body style="background-color: lightsteelblue;">

  <div class="container">
    <h1>Clinica PC</h1>
    <h4>Registrar usuarios</h4>
  </div>

  <div class="container p-4">
    <div class="col-md-6">
      <form method="POST" action="/registers" class="card card-body">
        <div class="form-group row">
          <label for="identification" class="col-sm-5 col-form-label">Identificación</label>
          <div class="col-sm-7">
            <input name="identification" id="identification" type="text" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-5 col-form-label">Nombre completo</label>
          <div class="col-sm-7">
            <input name="name" id="name" type="text" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="last_name" class="col-sm-5 col-form-label">Apellidos</label>
          <div class="col-sm-7">
            <input name="last_name" id="last_name" type="text" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="user_name" class="col-sm-5 col-form-label">Nombre usuario</label>
          <div class="col-sm-7">
            <input name="user_name" id="user_name" type="text" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-5 col-form-label">Contraseña</label>
          <div class="col-sm-7">
            <input name="password" id="password" type="text" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="date_born" class="col-sm-5 col-form-label">Fecha de nacimiento</label>
          <div class="col-sm-7">
            <input name="date_born" id="date_born" type="text" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-5 col-form-label">Correo electrónico</label>
          <div class="col-sm-7">
            <input name="email" id="email" type="text" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="address" class="col-sm-5 col-form-label">Dirección domicilio</label>
          <div class="col-sm-7">
            <input name="address" id="address" type="text" class="form-control" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="col-sm-5 col-form-label">Teléfono</label>
          <div class="col-sm-7">
            <input name="phone" id="phone" type="text" class="form-control" required>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Registrarse</button>
      </form>
    </div>
  </div>

</body>

</html>